
<launch>

<!-- Placing parameters for parameter server (txa#003) -->

<arg name="helicoidale" default="../DRONELAB/crazyswarm/ros_ws/src/crazyswarm/launch/helicoidale.csv"/>

<arg name="figure8_smooth" default="../DRONELAB/crazyswarm/ros_ws/src/crazyswarm/launch/figure8_smooth.csv"/>

<!-- Duplicating ros_action_server nodes to service x drones (txa#004) -->

<!-- WAYPOINT - 6 DRONES -->
<group>
    <remap from='waypoint_' to='waypoint_drone1'/>
    <node name='waypoint_drone1' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='waypoint_' to='waypoint_drone2'/>
    <node name='waypoint_drone2' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='waypoint_' to='waypoint_drone3'/>
    <node name='waypoint_drone3' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='waypoint_' to='waypoint_drone4'/>
    <node name='waypoint_drone4' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='waypoint_' to='waypoint_drone5'/>
    <node name='waypoint_drone5' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='waypoint_' to='waypoint_drone6'/>
    <node name='waypoint_drone6' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<!-- LAND - 6 DRONES -->

<group>
    <remap from='land_' to='land_drone1'/>
    <node name='land_drone1' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='land_' to='land_drone2'/>
    <node name='land_drone2' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='land_' to='land_drone3'/>
    <node name='land_drone3' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='land_' to='land_drone4'/>
    <node name='land_drone4' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='land_' to='land_drone5'/>
    <node name='land_drone5' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='land_' to='land_drone6'/>
    <node name='land_drone6' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<!-- CSV TRAJECTORIES - 6 DRONES -->

<group>
    <remap from='trajectory_' to='trajectory_drone1'/>
    <node name='trajectory_drone1' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='trajectory_' to='trajectory_drone2'/>
    <node name='trajectory_drone2' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='trajectory_' to='trajectory_drone3'/>
    <node name='trajectory_drone3' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='trajectory_' to='trajectory_drone4'/>
    <node name='trajectory_drone4' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='trajectory_' to='trajectory_drone5'/>
    <node name='trajectory_drone5' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>

<group>
    <remap from='trajectory_' to='trajectory_drone6'/>
    <node name='trajectory_drone6' pkg='crazyswarm' type='ros_action_server.py'>
        <param name="helicoidale" value="$(arg helicoidale)"/>
        <param name="figure8_smooth" value="$(arg figure8_smooth)"/>
    </node>
</group>
<!-- Visualize State Machine for when it is launched later (txa#005) -->

<node pkg="smach_viewer" name="smach_viewer" type="smach_viewer.py" />  

</launch>
